.FAQcontainer {
    padding: 0px 100px 20px 100px;
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topicsContainer > * {
    margin: 25px 40px;
    max-width: 1024px;
}

.topicsContainer .accordionTitle {
    font-size: 24px;
}

.topicsContainer .accordionContent.show {
    font-size: 24px;
}

.FAQcontainer .banner {
    width: 100%;
}