.FAQcontainer {
    margin: 0px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.topicsContainer > * {
    margin: 25px 40px;
    max-width: 1024px;
}

.topicsContainer .accordionTitle {
    font-size: 24px;
}

.topicsContainer .accordionContent.show {
    font-size: 24px;
}

.FAQcontainer .banner {
    width: 100%;
}

.topicsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center ;
}

@media screen and (max-width:770px) {
    .FAQcontainer .banner {
        height: 223px;
    }
    .topicsContainer > * {
        max-width: 335px;
        margin: 25px 10px;
    }
    .topicsContainer .accordionTitle {
        font-size: 13px;
        height: 30px;
        border-radius: 5px;
    }
    .topicsContainer .accordionContent.show {
        font-size: 12px;
    }
    .FAQcontainer .banner {
        margin: 20px 0px 0px 0px;
    }
}
